@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4 mb-5">Welcome to the Hamburger Web App</h1>
    <img src="https://seyler.ekstat.com/img/max/800/T/TzjgX93BLmHbKXIc-637497622071664663.jpg" alt="Hamburger picture" />
</div>
